<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Movie</title>
    <style>
        body {
            font-family: 'Agency FB', sans-serif;
            background: #000000; 
            background-size: cover;
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        h1 {
            color: #f0f2f3;
            font-size: 32px;
            font-family: 'Agency FB', sans-serif;
        }

        form {
            width: 70%;
            margin: 20px;
            padding: 20px;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }

        label {
            display: block;
            margin: 10px 0;
            color: #eeeeee;
            font-family: 'Agency FB', sans-serif;
        }

        input {
            width: 100%;
            padding: 15px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 2px solid #ffd900;
            border-radius: 10px;
            background-color: #292929;
            color: #fff;
            font-size: 16px;
            font-family: 'Agency FB', sans-serif;
        }

        input[type="submit"] {
            background-color: #ff0000;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: #3b0000;
        }

        a {
            display: block;
            margin-top: 20px;
            text-decoration: none;
            color: #ffffff;
            font-size: 24px;
            font-family: 'Agency FB', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Update Movie</h1>
    <form method="post" action="/updateMovie/<%= Movie.ID %>">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" value="<%= Movie.Name %>">
        <br>
        <label for="Data">Data</label>
        <input type="text" id="Data" name="Data" value="<%= Movie.Data %>">
        <br>
        <label for="Pic">Pic</label>
        <input type="text" id="Pic" name="Pic" value="<%= Movie.Pic %>">
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/Movie/<%= Movie.ID %>">View</a>
    <a href="/DeleteMovie/<%= Movie.ID %>">Delete</a>
    <a href="/Movies">Back to List</a>
</body>
</html>
