<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Country</title>
    <style>
        body {
            font-family: 'Agency FB', sans-serif;
            background: #000000; 
            color: #fff;
            text-align: center;
            margin: 50px;
            background-size: cover;
            flex-direction: column;
            min-height: 100vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        h1 {
            color: #f0f2f3;
            font-family: 'Agency FB', sans-serif;
        }

        form {
            width: 50%;
            margin: 0 auto;
            background: rgba(40, 40, 40, 0.9);
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }

        label {
            display: block;
            margin: 10px 0;
            color: #eeeeee;
            font-family: 'Agency FB', sans-serif;
        }

        input {
            width: calc(100% - 20px);
            padding: 15px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 2px solid #ffd900;
            border-radius: 10px;
            background-color: #292929;
            color: #fff;
            font-size: 16px;
            font-family: 'Agency FB', sans-serif;
        }

        input[type="submit"] {
            background-color: #ff0000;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border: none;
        }

        input[type="submit"]:hover {
            background-color: #3b0000;
        }

        a {
            display: block;
            margin-top: 20px;
            text-decoration: none;
            color: #ffffff;
            font-size: 24px;
            font-family: 'Agency FB', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Update Country</h1>
    <form method="post" action="/updateCountry/<%= Country.ID %>">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" value="<%= Country.Name %>">
        <br>
        <label for="Data">Data</label>
        <input type="text" id="Data" name="Data" value="<%= Country.Data %>">
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/Country/<%= Country.ID %>">View</a>
    <a href="/DeleteCountry/<%= Country.ID %>">Delete</a>
    <a href="/Countrys">Back to List</a>
</body>
</html>
